@keyframes hover {
  50% { transform: translateY(10px) rotate(90deg) scaleY(-1); }
}

@keyframes spin {
  100% { transform: rotate(360deg); }
}

@keyframes rolls {
  0% { transform: translateY(-100px); }
}
