@keyframes hover {
  25% {
    transform: translateY(10px);
  }
  50% {
    transform: skewY(-2deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rolls {
  0% {
    transform: translateY(-100px);
  }
}
