body {
  color: var(--bs-white);
  background: radial-gradient(#0A0A0A, var(--bs-black), var(--bs-black-alt), #000);
}

span.profile-box {
  position: relative;
  color: var(--bs-smoke);
  width: 30px;
  height: 30px;
  background: var(--bs-black);
  border-radius: 100px;
  background-image: url("../../../public/images/profile.png");
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

span.profile-box::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -100px;
  width: 1px;
  height: 100px;
  z-index: -2;
  background: #222;
}

span.profile-box::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 10px;
  background: white;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  animation: rolls 2s linear infinite;
  margin: auto;
}

.svg {
  transform: translateY(4px);
  margin-right: 5px;
}

.heading {
  font-size: 35px;
  line-height: 50px;
  margin-top: -12px;
  -webkit-text-stroke: 0.04rem;
  letter-spacing: -0.8px;
}

.heading span {
  font-family: "JSMedium";
  font-size: 23px;
}

div.header-break {
  height: var(--init-height)
}

.jumbo {
  margin: 25vh 0;
}

.card {
  width: calc(50% - 13px);
  height: 480px;
  transition: var(--init-transition);
  overflow: hidden;
  background: var(--bs-black);
  position: relative;
  border-radius: 30px;
}

.card:hover {
  animation: hover 600ms ease-in-out;
  box-shadow: 0 0 0 .2rem var(--bs-white);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.caption {
  width: calc(100% - 30px);
  background: var(--bs-black);
  border-radius: 30px;
  left: 0;
  right: 0;
  bottom: 15px;
  padding: 2px 0;
  margin: auto;
  position: absolute;
}

.caption p:first-child {
  margin-bottom: 4px;
}

.content {
  padding: 20px;
}

.caption a {
  width: 46px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bs-black);
  height: 46px;
  border-radius: 25px;
}

.card .title {
  left: 20px;
  padding: 3px 6px;
  border-radius: 100px;
  background: white;
  color: var(--bs-black);
  top: 20px;
}

section.banner {
  height: 600px;
  overflow: auto;
  margin: auto;
  background: #222;
  resize: both;
  border-radius: 50px;
  min-width: 70%;
  max-width: 100%;
  max-height: 600px;
  min-height: 400px;
}

.service {
  border-bottom: 1px solid #22222273;
  margin-bottom: 160px;
  padding-bottom: 10px;
}

.service:last-child {
  margin-bottom: 0;
}

.chips {
  display: flex;
  overflow: auto;
  position: relative;
  white-space: nowrap;
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 6px 13px;
  color: var(--bs-smoke);
  position: relative;
  justify-content: center;
  margin: 8px 0;
  border: 1px solid #222;
  background: #22222270;
  font-size: 14px;
  border-radius: 18px;
  margin-right: 15px;
}

.chip:last-child {
  margin-right: 0px;
}

.contact-card {
  border-bottom: 1px solid #22222273;
  padding: 30px 0;
  flex-direction: row-reverse;
}

.contact-card .icon {
  width: 58px;
  height: 58px;
  box-shadow: var(--init-shadow);
  border: 1px solid #111;
  background: var(--bs-black);
  border-radius: 22px;
}

.contact-card .label {
  display: block;
  width: 80%;
}

.contact-card a {
  transition: var(--init-transition);
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
}

div[data-role="load"] {
  width: 100%;
  height: 100vh;
  background: var(--bs-black);
  top: 0;
  position: fixed;
  z-index: 1;
}

div[data-role="load"]::before {
  position: absolute;
  content: '';
  inset: 0;
  margin: auto;
  border-radius: 100px;
  width: 40px;
  animation: spin 800ms cubic-bezier(.68,.8,.54,.45) infinite;
  height: 40px;
  border: 6px solid #222;
  border-right: 6px solid white;
}
