body {
  color: var(--bs-white);
  background: linear-gradient(#0A0A0A, var(--bs-black), var(--bs-black-alt), #000);
  background-color: var(--bs-black);
}

span.profile-box {
  position: relative;
  color: var(--bs-smoke);
  width: 30px;
  height: 30px;
  border-radius: 200px;
  margin-right: 10px;
  background: var(--bs-black);
  background-image: url("../../../public/images/profile.png");
  background-position: center;
  background-size: cover;
}

.svg {
  transform: translateY(4px);
  margin-right: 5px;
}

.heading {
  font-size: 45px;
  line-height: 51px;
  margin-top: -8px;
  /* -webkit-text-stroke: 0.04rem; */
  font-family: "SFProDisplayBold","SFProIconsRegular","Helvetica Neue","Helvetica","Arial",sans-serif;
  letter-spacing: -0.9px;
}

.heading span {
  font-family: "SFProDisplayBold","SFProIconsRegular","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-size: 23px;
}

div.header-break {
  height: var(--init-height)
}

.jumbo {
  margin: 25vh 0;
}

.card {
  width: calc(50% - 13px);
  height: 480px;
  transition: var(--init-transition);
  overflow: hidden;
  background: var(--bs-black);
  position: relative;
  border-radius: 30px;
}

.card:hover {
  /* animation: hover 600ms ease-in-out; */
  box-shadow: 0 0 0 .2rem var(--bs-white);
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

div.card-row {
  display: flex;
  flex-wrap: wrap;
  gap: 26px;
}

.caption {
  width: calc(100% - 30px);
  background: var(--bs-black);
  border-radius: 30px;
  left: 0;
  right: 0;
  bottom: 15px;
  padding: 2px 0;
  margin: auto;
  position: absolute;
}

.caption p:first-child {
  margin-bottom: 4px;
}

.content {
  padding: 20px;
}

a[data-role="action"] {
  width: 46px;
  background: white;
  display: flex;
  z-index: 1;
  align-items: center;
  justify-content: center;
  transition: var(--init-transition);
  color: var(--bs-black);
  height: 46px;
  border-radius: 25px;
}

a[data-role="action"]:hover,
a[data-role="action"]:focus {
  transform: rotate(45deg);
}

.card .title {
  left: 20px;
  padding: 3px 6px;
  border-radius: 100px;
  background: white;
  color: var(--bs-black);
  top: 20px;
}

section.banner {
  padding: 150px 0;
  overflow: hidden;
  position: relative;
  background: var(--bs-black);
  border: 1px solid #111;
  border-radius: 50px;
  z-index: 1;
  margin: 300px 0;
}

.banner-card-stack {
  width: 80%;
  background: #0B0B0B;
  border: 1px solid #111;
  margin: auto;
  height: 100px;
  border-radius: 0 0 30px 30px;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-385px);
}

.banner-card-stack:first-child {
  transform: translateY(-370px);
  width: 70%;
  background: #0A0A0A;
}

section.banner .banner-content {
  width: 81%;
  z-index: 1;
  margin: auto;
}

.banner-link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.banner-link img {
  position: absolute;
  inset: 0;
  width: 280px;
  margin: auto;
}

.banner-text {
  font-size: 75px;
  line-height: 80px;
  letter-spacing: -1px;
  font-family: "SFProDisplayBold","SFProIconsRegular","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.shine {
  background: linear-gradient(to right, #444, #888, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service {
  border-bottom: 1px solid #22222273;
  margin-bottom: 160px;
  padding-bottom: 10px;
}

.service:last-child {
  margin-bottom: 0;
}

.chips {
  display: flex;
  overflow: auto;
  position: relative;
  white-space: nowrap;
}

.chip {
  display: inline-flex;
  align-items: center;
  padding: 7px 13.63px;
  color: var(--bs-smoke);
  position: relative;
  justify-content: center;
  margin: 12px 0;
  line-height: 1;
  background: linear-gradient(45deg, #22222270, #22222280);
  font-size: 13px;
  border-radius: 18px;
  margin-right: 16px;
}

.chip[data-role="error"] {
  background: #FF5F4320;
  border: none;
  color: #FF5F43;
}

.chip:last-child {
  margin-right: 0px;
}

.contact-card {
  border-bottom: 1px solid #22222273;
  padding: 30px 0;
  flex-direction: row-reverse;
}

.contact-card>a {
  transform: translateY(10px);
}

.contact-card .icon {
  width: 58px;
  height: 58px;
  border-radius: 22px;
  border: 1px solid #111;
  background: var(--bs-black);
  box-shadow: var(--init-shadow);
  -webkit-appearance: none;
  -webkit-box-shadow: var(--init-shadow);
  -moz-box-shadow: var(--init-shadow);
}

.contact-card .label {
  display: block;
  width: 80%;
}

.contact-card a {
  transition: var(--init-transition);
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
}

div[data-role="load"] {
  width: 100%;
  height: 100vh;
  background: var(--bs-black);
  top: 0;
  position: fixed;
  z-index: 1;
}

div[data-role="load-min"],
div[data-role="box"] {
  width: 100%;
  height: 80vh;
  position: relative;
  background: var(-bs-black);
}

div[data-role="load"]::before,
div[data-role="load-min"]::before {
  position: absolute;
  content: '';
  inset: 0;
  margin: auto;
  border-radius: 100px;
  width: 40px;
  animation: spin 800ms cubic-bezier(.68,.8,.54,.45) infinite;
  height: 40px;
  border: 6px solid #222;
  border-right: 6px solid white;
}

.mr-m {
  line-height: 0.7;
  margin-top: 2px;
  font-family: "SFProDisplayBold","SFProIconsRegular","Helvetica Neue","Helvetica","Arial",sans-serif;
}

.mr-0 {
  margin-right: 0 !important;
}
